[Desktop Entry]
Name=StoryForge
Exec=/app/StoryForge/StoryForge
Type=Application
Icon=io.github.LovelessCodes.StoryForge
Categories=Game;AdventureGame;
Keywords=story;forge;game;vintage;
MimeType=x-scheme-handler/storyforge;x-scheme-handler/sf;
